{% extends 'base.html.twig' %}

{% block title %}New Comment{% endblock %}

{% block body %}
    <div class="container">
        <h1>Create new Comment</h1>

        {{ include('comment/_form.html.twig') }}

        <a class="btn btn-outline-primary mt-2" href="{{ path('comment_index', {'id': ticketId}) }}">back to list</a>
    </div>
{% endblock %}
